<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <meta charset="utf-8">
    <title>Climbing World Frontpage</title>
  </head>
  <body>
    <header>
         <div class="header-content">
             <div class="header-content-inner">
                 <h1 id="homeHeading">Climbing World</h1>
                 <hr>
                 <p>Find the perfect climbing route! Choose from routes around the world and select your favorites. Then, create an itinerary and invite your friends!</p>
                 <a href="/routes" class="btn btn-primary btn-xl page-scroll">Find Routes</a>
             </div>
         </div>
     </header>
  </body>
</html>
