<h1> Edit Climbing Route:</h1>

<%= link_to "Create New Location", new_location_path %></br>
<%= link_to "Create New Pitches", new_pitch_path %></br>
<%= link_to "Create New Rating", new_rating_path %></br>

<%= render partial: "form" %>
